@{
  Layout = "_Layout";
}

<h1>Welcome to the Best Restaurants!</h1>
<h3>@Html.ActionLink("See all cuisines", "Index", "Cuisines")</h3>
<h3>@Html.ActionLink("See all restaurants", "Index", "Restaurants")</h3>